/* Base16 Atelier Plateau Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
.highlight {
  color: #585050;
  background: #f4ecec; }
  .highlight .code .comment, .highlight .code .quote {
    color: #655d5d; }
  .highlight .code .variable, .highlight .code .template-variable, .highlight .code .attribute, .highlight .code .tag, .highlight .code .name, .highlight .code .regexp, .highlight .code .link, .highlight .code .selector-id, .highlight .code .selector-class {
    color: #ca4949; }
  .highlight .code .number, .highlight .code .meta, .highlight .code .built_in, .highlight .code .builtin-name, .highlight .code .literal, .highlight .code .type, .highlight .code .params {
    color: #b45a3c; }
  .highlight .code .string, .highlight .code .symbol, .highlight .code .bullet {
    color: #4b8b8b; }
  .highlight .code .title, .highlight .code .section {
    color: #7272ca; }
  .highlight .code .keyword, .highlight .code .selector-tag {
    color: #8464c4; }
  .highlight .code .deletion, .highlight .code .addition {
    color: #1b1818;
    display: inline-block;
    width: 100%; }
  .highlight .code .deletion {
    background-color: #ca4949; }
  .highlight .code .addition {
    background-color: #4b8b8b; }
  .highlight .code .emphasis {
    font-style: italic; }
  .highlight .code .strong {
    font-weight: bold; }
