/* Base16 Atelier Heath Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
.highlight {
  color: #695d69;
  background: #f7f3f7; }
  .highlight .code .comment, .highlight .code .quote {
    color: #776977; }
  .highlight .code .variable, .highlight .code .template-variable, .highlight .code .attribute, .highlight .code .tag, .highlight .code .name, .highlight .code .regexp, .highlight .code .link, .highlight .code .selector-id, .highlight .code .selector-class {
    color: #ca402b; }
  .highlight .code .number, .highlight .code .meta, .highlight .code .built_in, .highlight .code .builtin-name, .highlight .code .literal, .highlight .code .type, .highlight .code .params {
    color: #a65926; }
  .highlight .code .string, .highlight .code .symbol, .highlight .code .bullet {
    color: #918b3b; }
  .highlight .code .title, .highlight .code .section {
    color: #516aec; }
  .highlight .code .keyword, .highlight .code .selector-tag {
    color: #7b59c0; }
  .highlight .code .emphasis {
    font-style: italic; }
  .highlight .code .strong {
    font-weight: bold; }
