/* Base16 Atelier Dune Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
.highlight {
  color: #6e6b5e;
  background: #fefbec; }
  .highlight .code .comment, .highlight .code .quote {
    color: #7d7a68; }
  .highlight .code .variable, .highlight .code .template-variable, .highlight .code .attribute, .highlight .code .tag, .highlight .code .name, .highlight .code .regexp, .highlight .code .link, .highlight .code .selector-id, .highlight .code .selector-class {
    color: #d73737; }
  .highlight .code .number, .highlight .code .meta, .highlight .code .built_in, .highlight .code .builtin-name, .highlight .code .literal, .highlight .code .type, .highlight .code .params {
    color: #b65611; }
  .highlight .code .string, .highlight .code .symbol, .highlight .code .bullet {
    color: #60ac39; }
  .highlight .code .title, .highlight .code .section {
    color: #6684e1; }
  .highlight .code .keyword, .highlight .code .selector-tag {
    color: #b854d4; }
  .highlight .code .highlight {
    display: block;
    overflow-x: auto;
    background: #fefbec;
    color: #6e6b5e;
    padding: 0.5em; }
  .highlight .code .emphasis {
    font-style: italic; }
  .highlight .code .strong {
    font-weight: bold; }
