/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/
/*background color*/
.highlight {
  color: #c5c8c6;
  background: #1d1f21;
  /*selection color*/ }
  .highlight::selection, .highlight span::selection, .highlight::-moz-selection, .highlight span::-moz-selection {
    background: #373b41; }
  .highlight .code .title, .highlight .code .name {
    color: #f0c674; }
  .highlight .code .comment {
    color: #707880; }
  .highlight .code .meta {
    color: #707880; }
    .highlight .code .meta .keyword {
      color: #707880; }
  .highlight .code .number, .highlight .code .symbol, .highlight .code .literal, .highlight .code .deletion, .highlight .code .link {
    color: #c66; }
  .highlight .code .string, .highlight .code .doctag, .highlight .code .addition, .highlight .code .regexp, .highlight .code .selector-attr, .highlight .code .selector-pseudo {
    color: #b5bd68; }
  .highlight .code .attribute, .highlight .code .code, .highlight .code .selector-id {
    color: #b294bb; }
  .highlight .code .keyword, .highlight .code .selector-tag, .highlight .code .bullet, .highlight .code .tag {
    color: #81a2be; }
  .highlight .code .subst, .highlight .code .variable, .highlight .code .template-tag, .highlight .code .template-variable {
    color: #8abeb7; }
  .highlight .code .type, .highlight .code .built_in, .highlight .code .builtin-name, .highlight .code .quote, .highlight .code .section, .highlight .code .selector-class {
    color: #de935f; }
  .highlight .code .emphasis {
    font-style: italic; }
  .highlight .code .strong {
    font-weight: bold; }
