# main menu navigation
menu:
  Home: /
  About: /about
  Archives: /archives

# Images
favicon: /images/icon.png
default: /images/default.jpg

# availableFontList: [
#   'noto-sans-kr',
#   'spoqa-han-sans-kr',
#   'spoqa-han-sans-jp'
# ]
# If you don't want font, you shouldn't specify the font.
font:

profile:
  image: /images/avatar.jpg
  gravatar:
  link:
  description:
  social:
    github: /
    facebook: /
    linkedin: /
    instagram: /
    twitter: /
    rss: /atom.xml

# Footer widgets
# Don't use over than 3 widgets.
# availableWidgetList: [
#   'archives',
#   'categories',
#   'recent-posts',
#   'tag-cloud',
#   'tags'
# ]
# If you don't want widget, you shouldn't specify widgets.
widgets:
  - recent-posts
  - archives
  - categories

google_analytics:
google_site_verification:
naver_site_verification:
