@import "bourbon";

// Colors
$white: #FFF;
$semi-white: #F6F6F6;
$black: #454545;
$bold-black: #222;
$gray: #999;
$darked-gray: #666;
$lighted-gray: #EDEDED;
$primary-sky: #59ABE3;
$darked-sky: darken($primary-sky, 20);
$lighted-sky: lighten($primary-sky, 20);
$secondary-yellow: #E28F0B;

// Pixels
$em-base: 16px;
$mobile: "only screen and (max-width : #{$em-base * 39})";
$desktop: "only screen and (min-width : #{$em-base * 39})";

$base-margin: 1.5rem;
$menu-height: 4rem;
$content-width: 45rem;
$container-width: 72rem;

$bold-font: 500;
