@import "bourbon";

// Colors
$white: #FFF;
$semi-white: #F6F6F6;
$black: #454545;
$gray: #999;
$darked-gray: #666;
$lighted-gray: #EDEDED;
$primary-sky: #59ABE3;
$darked-sky: darken($primary-sky, 20);
$lighted-sky: lighten($primary-sky, 20);

// Pixels
$base-margin: 24px;
$menu-height: 64px;
$container-width: 1140px;
