@import "bourbon";
@import "variables";

.post {
  position: relative;
  z-index: 2;
  padding: 24px;

  // Post common styles
  img {
    max-width: 100%;
  }

  blockquote {
    background-color: $semi-white;
    padding: $base-margin;
    margin-left: 0;
    margin-right: 0;
    p {
      margin: 0;
      + p {
        margin-top: 16px;
      }
    }
  }

  code {
    background-color: $lighted-sky;
    padding: 2px 4px;
    border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
  }

  figure.highlight {
    padding: $base-margin;
    margin-left: 0;
    margin-right: 0;
  }
}

.post__title {
  line-height: 1.5em;
  margin-bottom: 0;
}

.post__image {
  margin: $base-margin 0;
}

.post__meta {
  font-size: 14px;
  color: $gray;
}

.post__meta__categories {
  float: left;
}

.post__meta__categories__item {
  color: $gray;
  &:hover {
    color: $primary-sky;
  }
  &:after {
    content: '>';
    margin: 0 8px;
    color: $gray;
  }
  &:last-child:after {
    content: '';
  }
}

.post__meta__time {
  float: right;
}
