@import "bourbon";
@import "variables";
@import "custom-mixin";

.page-background {
  z-index: -1;
  background-color: $white;
  @include position(fixed, 0 0 0 0);
}

.content-container{
  display:table-row;
  width:100%;
}

.content-outer {
  margin-top: $menu-height * 2;
  @media #{$desktop} {
    margin-top: $menu-height;
  }
}

.content-inner {
  width: 100%;
  padding: $base-margin 0;
}

#footer{
  display:table-row;
  width:100%;
  height:1px;
}