@import "bourbon";
@import "variables";
@import "custom-mixin";

#page-background {
  z-index: -1;
  background-color: $lighted-gray;
  @include position(fixed, 0 0 0 0);
}

#page-background__overlay {
  display: block;
  // background-color: rgba(0,0,0,0.05);
  @include position(absolute, 0 0 0 0);
}

#page-background__img {
  background-size: cover;
  background-position: 50% 50%;
  @include position(absolute, 0 0 0 0);
}

#content-outer {
  margin-top: $menu-height + 24px;
}

#content-inner {
  max-width: $container-width;
  width: 100%;
  margin: auto;
}

#content-inner {
  .column {
    float: left;
    box-sizing: border-box;
    padding: 0 $base-margin / 2;
  }

  .column--wide {
    width: 66.6666%;
    padding-left: $base-margin;
  }

  .column--narrow {
    width: 33.3333%;
    padding-right: $base-margin;
  }
}

.card {
  position: relative;
  background-color: $white;
  padding: $base-margin;
  margin-bottom: $base-margin;
  border: 1px solid $lighted-gray;
  @include border-radius(2px);
}

.card__heading {
  font-size: 24px;
  margin-bottom: 8px;
}

.area {

}

.area + .area {
  margin-top: $base-margin;
}

.area__header {
  overflow: hidden;
}

.area__header__label {
  font-size: 18px;
  color: $gray;
  float: left;
}

.area__header__action {
  font-size: 14px;
  color: $gray;
  float: right;
}
