@import "bourbon";
@import "variables";

// Global common styles
html {
  font-size: 14px;
  @media #{$desktop} {
    font-size: $em-base;
  }
}

body {
  margin: 0;
  color: $black;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $primary-sky;
  @include transition(color 0.3s ease);
  &:hover {
    color: $darked-sky;
  }
}

hr {
  margin: $base-margin 0;
  border: 0;
  border-bottom: 1px solid $lighted-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $bold-font;
}
