footer#footer
  include widgets
  p.copyright
    small
      = '© ' + moment().format('YYYY') + ' ' + config.author
      br
      | Powered by 
      a(href="https://hexo.io" rel="external" target="_blank") Hexo
      | , Theme by 
      a(href="https://github.com/hyunseob" rel="external" target="_blank") HyunSeob
