doctype html
html(lang=config.language)
  head
    include head
  body(itemscope itemtype="https://schema.org/WebPage")
    include menu
    .page-background
    .content-outer
      .content-inner(itemscope itemtype="https://schema.org/Blog")
        if body
          div!= body
        else
          block content
    include footer
    if theme.google_analytics
      script.
        (function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{theme.google_analytics}', 'auto');
        ga('send', 'pageview');

    if theme.dynamic_menu
      != "<!--[if lt IE 10]>"
      script(src="/js/classList.min.js")
      != "<![endif]-->"
      script(src="/js/index.min.js")
    else
      script(src="/js/sharer.min.js")
