doctype html
html(lang=config.language)
  head
    include head
  body
    include menu
    #page-background
      //- #page-background__img(style="background-image: url(#{page.background || '/images/default_bg.jpg'})")
      #page-background__overlay
    #content-outer
      #content-inner
        .column.column--wide
          if body
            div!= body
          else
            block content
        .column.column--narrow
          include cards/profile
          include cards/recent-posts
          hr
          include cards/tag-cloud
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
