doctype html
html(lang=config.language)
  head
    include head
  body
    include menu
    .page-background
    .content-outer
      .content-inner
        if body
          div!= body
        else
          block content
        //- .column.column--narrow
        //-   include cards/profile
        //-   include cards/recent-posts
        //-   hr
        //-   include cards/tag-cloud
        //-   hr
        //-   include cards/archives
    include widgets
    include footer
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
