#sharer.sharer
  .sharer-inner
    .sharer__right
      button.sharer__item#sharer-facebook
        i.fa.fa-facebook-official
      button.sharer__item#sharer-twitter
        i.fa.fa-twitter
      button.sharer__item#sharer-pinterest
        i.fa.fa-pinterest
      button.sharer__item#sharer-pocket
        i.fa.fa-get-pocket
