if theme.widgets && theme.widgets.length
  .widgets
    .widgets-inner
      // Jade doesn't support dynamic inclusion with `each`.
      // So, I just hard coded the file names that will be included.
      each widget in theme.widgets
        if widget === 'tag-cloud'
          .widgets__item
            include widgets/tag-cloud
        else if widget === 'categories'
          .widgets__item
            include widgets/categories
        else if widget === 'recent-posts'
          .widgets__item
            include widgets/recent-posts
        else if widget === 'archives'
          .widgets__item
            include widgets/archives
        else if widget === 'tags'
          .widgets__item
            include widgets/tags
