@import "./variables.css";

.pagination {
  width: 100%;
  text-align: center;
  padding: 1rem 0;

  & .current, & a {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    border-bottom: 2px solid;
  }

  & .current {
    color: var(--black);
  }

  & .space {
    color: var(--gray);
  }

  & a {
    color: var(--gray);
    border-color: transparent;
    transition:
      border-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      color: var(--primary-sky);
      border-color: var(--primary-sky);
    }
  }
}
